.qrcontainer {
    width: 300px;
    height: 200px;

    z-index: 99;

    position: absolute;

    height: 50%;
    width: 50%;
    /* 모달창 디자인 */
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
}

/* 모달창 내부 X버튼 */
.qrclose {
    position: absolute;
    right: 10px;
    top: 10px;
}