.menu {
    list-style:none;
    background: #fff;
    border-radius: 8px;
    position: relative;
    top: 30px;
    right: 0;
    width: 150px;
    height: 100px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px) translateX(-220px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    padding: 10px;
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px) translateX(-220px);
}

.list{
  background: #fff;
  border : 0;
  outline: 0;
}

.layout {
    margin: 30px;
    display: flex;
    background-color: white;

}

.side {
    width: auto;
    text-align: center;
    display: inline-flex;
    margin: 15px;
    
}

.change {
    width: 40px;
    height: fit-content;
    background-color: rgb(233,233,234);
    border: none;
    border-radius: 5px;
    margin-left: 10px;

}

.option {
    width: 40px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(233,233,234);
}
.delete{
    width: 40px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #FF6666;
}
.plus{
    width: 40px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(233,233,234);
}
.minus{
    width: 40px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(233,233,234);
}