#tpwrapper {
    width: 100%;
    height: 100%;
}

.tptop {
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 940px;
    margin-right: auto;
    margin-left: auto;

}
.tptopcontent {
    margin-top: 5
}
.tptopleft {
    position: relative;
    height: 400px;
    width: 470px;
    margin-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

.tptopright {
    position: relative;
    height: 394px;
    width: 470px;
    background-image: url('../../assets/templateImage.png');
    background-repeat: no-repeat;
    background-size: 470px 400px;
}

.tpcategory {
    display: flex;
    position: relative;
    border-radius: 15px;
    vertical-align: middle;
    background-color: #DAE6FE;
    width: 50%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
}

.tpbuttom {
    position: relative;
    display: grid;
    text-align: center;
    align-items: center;
    place-items: center;
    width: 940px;
    justify-content: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
}

.tpcreate {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
    margin-left: 5%;
    width: 150px;
    height: 40px;
    background-color: #5AC0EF;
    color: white;
    box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.tplogin {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 1%;
    margin-left: 5%;
    width: 150px;
    height: 40px;
    background-color: #FFEC6C;
    box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.tptt {
    border: 1px dashed;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.recentTem,
.popularTem {
    text-align: center;
    align-items: center;
    place-items: center;
    margin-right: auto;
    margin-left: auto;
}

#tpbox {
    border: solid 2px;
    height: 215px;
    margin-top: 5%;
}

#tpbox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-10px);
}

.tpplus {
    position: relative;
    border-radius: 50%;
    margin-top: 40%;
    width: 40px;
    height: 40px;
}

.tpboximg {
    background: url('../../assets/showingImage.png');
    background-size: contain;
    width: 150px;
    height: 150px;
}

.tphead {
    font-size: 20px;
    margin-top: 5px;
}

.tpboxcontent {
    font-size: 12px;
}