.Qlayout {
    padding: 2%;
    margin: 30px;
    background-color: white;
    display: block;
    
}
/* 객관식 */
.radioContainer{
    display: inline-block;
    width: fit-content;
    margin-top: 10px;
    margin-left: 20px;
}
.radioContainer button{
    width: fit-content;
    margin-bottom: 5px;
}
.radioBtn {
    background-color: white;
    border: none;
}
.radioBtn-active {
    background-color: #b6cefc;
    border-radius: 0.6em;
}

/* 체크박스 */
.checkboxContainer {
    display: inline;
    margin-left: 30px;
}
.ListItem {
    font-size: large;
    height: 50px;
}
.checkboxText:hover {
    cursor: pointer;
}


/* 주관식 */
.SecondRespond{
    margin-top: 10px;
    margin-left: 12px;
    width: 500px;
    height: 4em;
    border: none;
    border-style: solid;
    border-radius: 0.6em;
    resize: none;
}

/* 선형배율 */
.LinearContainer {
    margin-top: 15px;
    margin-left: 20px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;
    margin-bottom: 20px;
    font-family: 'yg-jalnan';
}
.LinearContainer button {
    width: 80px;
    margin-right: 2px;
    margin-left: 20px;
    box-shadow: none;
}
.btn-active {
    background-color: #b6cefc;
    border-radius: 0.6em;
    
}
.leftText{
    display: inline;
    width: 100px;
    height: fit-content;
    margin-top: 5px;
}
.rightText{
    display: inline;
    width: 100px;
    height: fit-content;
    margin-top: 5px;
    margin-left: 40px;
}

