.resultContainerHeader {
    width: 70%;
    height: fit-content;
    background-color: #b6cefc;
    padding: 1%;
    position: absolute;
    margin-top: 115px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.resultContainerContent {
    width: 70%;
    height: fit-content;
    padding: 1%;
    position: absolute;
    margin-top: 260px;
    animation: smoothApper 1s;
}

.question {
    background-color: #F0F8FF;
    padding: 1%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
}
.resultChat {
    background-color: #F0F8FF;
    padding-bottom: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.answer {
    width: fit-content;
    margin-right: 5px;
    margin-top: 25px;
    padding: 1%;
}

.resultContainerFooter {
    width: 100%;
    display: inline-flex;
    
    margin-top: 25px;
}
.PageNum {
    margin-top: 18px;
    width: 60%;
    text-align: center;
}
.prevBtn {
    margin-left: 200px;
    margin-right: 90px;
}
.prevBtn:hover {
    transform: scale(1.1);
}

.nextBtn {
    margin-left: 80px;
    margin-right: 200px
}
.nextBtn:hover {
    transform: scale(1.1);
}

/* 버튼 */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    transition: 0.25s;
    margin-bottom: 30px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.w-btn-blue {
    background-color: #6aafe6;
    color: #d4dfe6;
}
