/* kakao login button */
.KakaoBtn{
  background-image: url('/public/img/kakao_login.png');
  background-repeat: no-repeat;
  background-size : cover;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  color: transparent;
  width: 300px;
  height: 50px;
}