.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'SBAggroB';
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 1500px;
  max-width: 1000px;
  height: 550px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 4px;
  right: 20px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  height: 75%;
}
.modal > section > footer {
  padding: 10px 10px;
  text-align: right;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.onepagetype{
  /* padding: 5%; */
  /* align-items: center; */
  margin-right: 100px;
  width: 250px;
  height: 290px;
  background-color: #F3F6FA;
  background-image: url('/public/assets/onepagePopup.png');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.onepagetype:hover {
  transform: translateY(-0.7%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.cardtype{
  width: 250px;
  height: 290px;
  background-color: #F3F6FA;
  background-image: url('/public/assets/cardPopup.png');
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.cardtype:hover {
  transform: translateY(-0.7%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.popuptypecontainer{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.typecardcontainer{
  width: 100%;
  height: 100%;
  display: inline-block; 
  margin: 0.5px;  
  margin-left: 50px;
  margin-top: 30px;
}

.typecarddiv{
  margin-top: 3px;
  margin-right: 220px;
  margin-left: 100px;
}
.typecarddiv#gackguan {
  margin-left: 102px;
}
.typecarddiv#sunhyung {
  margin-left: 83px;
}


.numq{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
  align-content: center;
}

.onepagePopup{
  width: 300px;
  height: 300px;
}
.onepageText {
  text-align: center;
  margin-right: 80px;
}
.cardText{
  text-align: center;
  margin-left: 15px;
}
.QType{
  display: block;
  padding-top: 2%;
}
.qType{
  display: inline;
  margin-left: 250px;
}

.popupmakebtn{
  width: 500px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.makeBtn{
  width: 100px;
  height: 30px;
  font-size: 20px;
  text-decoration-line: none;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.makeBtn:hover{
  transform: translateY(-0.7%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.standBtn{
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-left: 20px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.standBtn:hover{
  transform: translateY(-0.7%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* 설문작성 후 설문기간 설정 모달 */
.Modal-Dialog {
  padding: 5%;
  display: block;
  text-align: center;
}
.close-h5:hover {
  cursor: pointer;
}
.Modal-Body {
  padding: 1%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.calendar {
  /* display: inline-flex; */
  position: relative;
  display: inline-flex;
  margin-top: 40px;
  
}
.calendar h4{
  width: 300px;
}
.react-datepicker__input-container{
  width: 70%;
}
.react-datepicker-wrapper {
  width: 180px;
}
.react-datepicker-wrapper input {
  width: 200px;
}
.react-datepicker-wrapper input:hover{
  cursor: pointer;
}
.ModalSaveBtn {
  margin-top: 50px;
  margin-right: 30px;
  text-align: center;
}


/* 폰트 적용 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}