#mswrapper {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    font-family: "Pretendard-Regular";
    animation: smoothAppear 1s;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@keyframes smoothAppear {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.mstop {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 320px;
    width: 940px;
    background: url('../../assets/surveyImage.png');
    background-size: contain;
    margin-right: auto;
    margin-left: auto;
}

.mscreate {
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 28%;
    width: 150px;
    height: 40px;
    font-weight: 500;
    background-color: #5AC0EF;
    color: white;
    box-shadow: 0 7px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.msmiddle {
    padding-bottom: 10px;
    position: relative;
    border-radius: 15px;
    vertical-align: middle;
    background-color: #DAE6FE;
    width: 50%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.msbtn {
    font-size: 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 0px;
    width: 20%;
    height: 30px;
    background-color: white;
}
.msbtn#last {
    margin-right: 280px;
}

.mstt {
    border: 1px dashed;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.mslist {
    margin-top: -200px;
    width: 80vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    margin-right: auto;
    margin-left: auto;
    animation: smoothAppear 1s;
}

.msparent {
    display: block;
    padding-bottom: 50px;
    margin-top: 250px;
}

.msrecent {
    font-size: 24px;
    margin-left: 160px;
    margin-bottom: 50px;
}

.mscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.msprev:hover {
    cursor: pointer;
}

.msprev {
    background-color: #bcbcbc;
    padding: 10px;
    margin-right: 10px;
    margin-top: 100px;
}

.msprev b {
    color: white;
    font-size: 25px;
}

.msnext:hover {
    cursor: pointer;
}

.msnext {
    background-color: #bcbcbc;
    padding: 10px;
    margin-left: 15px;
    margin-top: 100px;
}

.msnext b {
    color: white;
    font-size: 25px;
}

/* 설문 생성 box */
#msbox {
    width: 240px;
    height: 220px;
    border-radius: 0.5rem;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

#msbox:hover {
    transform: translateY(-0.7%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.msplus {
    position: relative;
    border-radius: 50%;
    margin-left: 41%;
    margin-top: 22%;
    width: 40px;
    height: 40px;
}

.msboximg {
    display: block;
    background: url('../../assets/showingImage.png');
    background-size: 100% 150px;
    height: 110px;
    overflow: hidden;
}

.msboxdata {
    padding: 1rem;
    overflow: hidden;
}

.msbox-middle {
    margin-bottom: 0.5rem;
    /* 글자가 너무 길어질 경우 말줄임표로 대체 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
