.container {
    width: 70%;
    align-items: flex-start;
    overflow: scroll;
    -ms-overflow-style: none;
    margin-bottom: 20px;
    font-family: 'yg-jalnan';
}
  
.containerHeader {
    width: 70%;
    height: fit-content;
    background-color: #b6cefc;
    padding: 1%;
    display: grid;
    position: absolute;
    margin-top: 120px;
}

.respondHeadTitle {
    color: #333333;
    font-weight: bold;
    text-align: center;
}

.respondHeadOverview {
    color: #333333;
    font-weight: bold;
    text-align: center;
}


.respondContainerContent {
    width: 70%;
    height: fit-content;
    background-color: #b6cefc;
    padding: 1%;
    display: inline-block; 
    position: absolute;
    margin-top: 280px;
   
    animation: smoothApper 1s;
}

.respondContainerFooter {
    width: 100.1%;
    height: 200px;
    background-color: #b6cefc;
    padding: 2%;
    display: inline-block; 
    
    /* 어딘가에서 css가 겹쳐서 그런가
    footer만 옆으로 살짝 이동해 있길래 강제로 -로 이동*/
    left:-0.5px;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* 폰트 적용 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.repondCardContainer {
    margin-bottom: 15px;
    
}
.repondCardHeader {
   text-align: left;
   display: inline-flex;
   width: 100%;
   font-size: large;
}
.firstDiv {
    display: inline-flex;
    width: 80%;
    
}
.firstBtn {
    margin-bottom: 10px;
    width: 30%;
    color: white;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.bogiPTag {
    margin-top: 10px;
    margin-left: 5px;
}


.firstContainer {
    
    display: inline-block;
    margin-left: 50px;
    
}
.firstContainer button {
    text-align: left;
    width: fit-content;
}

/* LinearContainer */
.LinearContainer {
    margin-top: 15px;
    width: 70%;
    display: inline-flex;
    overflow: scroll;
    -ms-overflow-style: none;
    margin-bottom: 20px;
    font-family: 'yg-jalnan';
}
.leftText {
}
.rightText {
}