.container {
    width: 70%;
    align-items: flex-start;
    overflow: scroll;
    -ms-overflow-style: none;
    margin-bottom: 20px;
}
  
.containerHeader {
    width: 70%;
    height: fit-content;
    background-color: #b6cefc;
    padding: 1%;
    display: grid;
    position: absolute;
    margin-top: 120px;
}

.respondHeadTitle {
    color: #333333;
    font-weight: bold;
    text-align: center;
}

.respondHeadOverview {
    color: #333333;
    font-weight: bold;
    text-align: center;
}


.respondContainerContent {
    width: 70%;
    height: fit-content;
    background-color: #b6cefc;
    padding: 1%;
    display: inline-block; 
    position: absolute;
    margin-top: 280px;
   
    animation: smoothApper 1s;
}

.respondContainerFooter {
    width: 100.1%;
    height: 200px;
    background-color: #b6cefc;
    padding: 2%;
    display: inline-block; 
    
    /* 어딘가에서 css가 겹쳐서 그런가
    footer만 옆으로 살짝 이동해 있길래 강제로 -로 이동*/
    left:-0.5px;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

